<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

  <Appenders>

    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%msg%n"/>
    </Console>

    <File name="file" fileName="app.log">
      <PatternLayout>
         <Pattern>%d{HH:mm:ss.SSS} %-5level %c{1.} [%t] %msg%n</Pattern>
      </PatternLayout>
    </File>

  </Appenders>

  <Loggers>

    <Root level="debug">
      <AppenderRef ref="console" level="info" />
      <AppenderRef ref="file" level="trace" />
    </Root>

  </Loggers>

</Configuration>