div.intro {
    background-color: #fd8032;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

div.intro h3 {
    margin-top: 10px;
}

img.border {
    border: solid 1px #dddddd;
    padding: 5px;
}

div.seq {
    margin-top: 40px;
    margin-bottom: 10px;
    border-bottom: solid 1px #4C89B1;
    font-size: 20px;
    font-weight: 300;
    color: #4C89B1;
}

footer {
    margin-top: 50px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: solid 5px #cccccc;
}

table.directories > tbody > tr > td:first-child {
    white-space: nowrap;
    padding-right: 10px;
}

table.directories > thead > tr > th, table.directories > tbody > tr > td {
    vertical-align: top;
}
table.directories > tbody > tr > td > p:last-of-type {
    margin-bottom: 0;
}

/*
body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 22px;
}

li {
    margin-top: 20px;
}
li:first-of-type {
    margin-top: 0px;
}

table.default {
    border-collapse: collapse;
    text-align: left;
}

table.default > thead > tr > th {
    border-top: solid 1px #dddddd;
}

table.default > thead > tr > th, table.default > tbody > tr > td {
    vertical-align: top;
    padding: 15px 5px;
    border-bottom: solid 1px #dddddd;
}
table.default > tbody > tr > td > p:first-of-type {
    margin-top: 0;
}
table.default > tbody > tr:nth-child(odd) > td {
    background-color: #f6f6f6;
}

*/

/* Development formatting */

/*
body {
    padding-left: 100px;
    padding-right: 100px;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

pre {
    border: solid 1px #cccccc;
    background-color: #eeeeee;
    padding: 10px 8px;
    font-size: 13px;
    line-height: 18px;
    border-radius: 4px;
}
*/
